* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#root {
  -webkit-font-smoothing: antialiased !important;
}

body,
input,
button {
  font-family: 'Inter', sans-serif;
}
